<form action="/" id="filterForm">
  <fieldset>
    <div class="form-group">
      <label for="exampleSelect1"><legend>篩選</legend></label>
      <select class="form-select" id="filterSelect" name="filterByCategory" >
        <option value="all">全部</option>
        {{#each categoryList}}
          <option {{this.selected}}><i class="{{this.iconClass}}"></i>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </fieldset>
</form>

<br/>

<ul class="list-group">
  {{#each searchResults}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    
    <i class="{{this.categoryId.iconClass}}"></i>
    name:{{this.name}}~~date:{{this.date}}~~amount{{this.amount}}~~category{{this.categoryId.name}}
    <div class="ms-auto">
    <a href="" type="button" class="btn btn-primary btn-sm">Edit</a>
    <a href="" type="button" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </li>
  {{/each}}
</ul>

<script src="/javascript/homePageJs.js"></script>